body{
    background-color: brown;
}
h1{
    color: black;
    text-align: center;
}
.imagens-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}
img {
    margin-right: 110px;
  }
hr{
    border-color: black;
}

/* ---- INICIO BUTTONS ---- */
.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
#serie1{ 
    padding: 20px;
    left: 50px;
    right: 50px;
    text-align: center;
    margin: 140px;
    
}
#serie2{
    padding: 20px;
    left: 50px;
    right: 50px;
    text-align: center;
    margin: 140px;
}
#serie3{
    padding: 20px;
    left: 50px;
    right: 50px;
    text-align: center;
    margin: 155px;
    
}
#serie4{
    padding: 20px;
    left: 50px;
    right: 50px;
    text-align: center;
    margin: 155px;
}
/* ---- FIM BUTTONS ---- */